.ProductWrapperBottSec-container{
    width: 100%;
    display: grid;
    border-bottom: 1px solid #d9d9d9;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.ProductWrapperBottSec-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductWrapperBottSec-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductWrapperBottSec-searchOff-container{
    display: flex;
    align-items: center;
}

.ProductWrapperBottSec-span{
    margin-right: 4px;
}

@media screen and (max-width : 768px){
    .ProductWrapperBottSec-container{
        padding: 8px;
        height: 3000px;
    }

    .ProductWrapperBottSec-button-container{
        height: 45px;
    }

    .ProductWrapperBottSec-span{
        font-size: 16px;
        font-weight: 500;
    }

    .ProductWrapperBottSec-icon{
        width: 18px !important;
        height: 18px !important;
    }
}

@media screen and (min-width : 768px){
    .ProductWrapperBottSec-container{
        padding: 12px;
        height: calc(100% - 110px);
    }

    .ProductWrapperBottSec-button-container{
        height: 55px;
    }

    .ProductWrapperBottSec-span{
        font-size: 18px;
        font-weight: 500;
    }

    .ProductWrapperBottSec-icon{
        width: 24px !important;
        height: 24px !important;
    }
}