.OffBtn-container{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    overflow: hidden;
}

.OffBtn-input{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Nata Sans", sans-serif;
    letter-spacing: 0.05px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 7px;
}

.OffBtn-input-dark{
    color: #fff;
}

.OffBtn-btn{
    height: 100%;
    border: none;
    outline: none;
    font-family: "Nata Sans", sans-serif;
    background-color: #D6A99D;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 7px;
}