.ProductCard-container{
    border: 1px solid #d9d9d9;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProductCard-container-dark{
    background-color: oklch(37% 0.013 285.805);
    color: #fff;
}

.ProductCard-img-wrapper{
    display: block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.ProductCard-img-wrapper:hover{
    scale: 1.01;
}

.ProductCard-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: fill;
    overflow: hidden;
}

.ProductCard-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProductCard-head{
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProductCard-title{
    letter-spacing: 0.01px;
}

.ProductCard-rate{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ProductCard-rate-icon{
    color: #FFCC00;
}

.ProductCard-des{
    color: #757575;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ProductCard-des-dark{
    color: #a7a7a7;
}

.ProductCard-icon-wrapper{
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProductCard-price{
    display: flex;
    align-items: center;
}

.ProductCard-dollar-icon {
    color: #004030;
}

.ProductCard-dollar-icon-dark {
    color: oklch(51.1% 0.096 186.391);
}

.ProductCard-btn{
    border: 1px solid #D6A99D;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D6A99D;
    cursor: pointer;
}

.ProductCard-btn-icon{
    color: #fff;
    transition: transform 1s ease;
}

.ProductCard-btn:hover .ProductCard-btn-icon{
    scale: 1.09;
}

@media screen and (max-width : 768px){
   .ProductCard-container{
        padding: 8px;
   } 

   .ProductCard-img-wrapper{
        height: calc(100% - 100px);
        margin-bottom: 8px;
   }

   .ProductCard-detail{
        height: 100px;
    }

    .ProductCard-title{
        font-size: 16px;
        font-weight: 500;
    }

    .ProductCard-rate-span,
    .ProductCard-price-span{
        font-size: 14px;
        font-weight: 400;
    }

   .ProductCard-rate-icon,
   .ProductCard-dollar-icon{
        width: 16px !important;
        height: 16px !important;
   }

   .ProductCard-des{
        height: 30px;
        font-size: 12px;
        font-weight: 400;
        -webkit-line-clamp: 2;  
        line-height: 15px;
        max-height: 30px;      
   }

   .ProductCard-btn-icon{
        width: 24px !important;
        height: 24px !important;
   }
}

@media screen and (min-width : 768px){
   .ProductCard-container{
        padding: 12px;
    } 

    .ProductCard-img-wrapper{
        height: calc(100% - 130px);
        margin-bottom: 12px;
   }

   .ProductCard-detail{
        height: 130px;
    }

   .ProductCard-title{
        font-size: 18px;
        font-weight: 500;
   }

   .ProductCard-rate-span,
   .ProductCard-price-span{
        font-size: 16px;
        font-weight: 500;
   }

   .ProductCard-rate-icon,
   .ProductCard-dollar-icon{
        width: 19px !important;
        height: 19px !important;
   }

   .ProductCard-des{
        height: 50px;
        font-size: 14px;
        font-weight: 400;
        -webkit-line-clamp: 3;        
        line-height: 16px;
        max-height: 49.8px;
   }

   .ProductCard-btn-icon{
        width: 32px !important;
        height: 32px !important;
   }
}