.NavAccardeonBtn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    color: #000;
}

.NavAccardeonBtn-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.NavAccardeonBtn-chevron{
    border-left: 1px solid #d9d9d9;
    transition: all 0.2s ease;
    cursor: pointer;
}

.NavAccardeonBtn-logout-sub-menu{
    height: min-content;
    position: absolute;
    top: 100%;
    left: -1px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    display: none;
}

.NavAccardeonBtn-logout-icon{
    color: #820000;
}

.NavAccardeonBtn-logout-sub-menu-dark,
.NavAccardeonBtn-container-dark {
   background-color: oklch(21% 0.006 285.885);
   color: #fff;
}

@media screen and (max-width : 768px){
    .NavAccardeonBtn-container ,
    .NavAccardeonBtn-logout-sub-menu {
        width: 130px;
        margin-left : 12px;
        font-size: 14px;
        font-weight: 500;
        padding: 3px 5px 3px 8px;
    }

    .NavAccardeonBtn-logout-sub-menu {
        margin-left: 0;
    }

    .NavAccardeonBtn-chevron{
        padding-left: 5px;
    }

    .NavAccardeonBtn-title{
        padding-right: 5px;
    }

    .NavAccardeonBtn-logout-icon,
    .NavAccardeonBtn-chevron{
        width: 18px !important;
        height: 18px !important;
    }
}

@media screen and (min-width : 768px){ 
    .NavAccardeonBtn-container ,
    .NavAccardeonBtn-logout-sub-menu{
        width: 150px;
        margin-left : 16px;
        font-weight: 500;
        font-size: 16px;
        padding: 5px 7px 5px 10px;
    }

    .NavAccardeonBtn-logout-sub-menu{
        margin-left: 0;
    }

    .NavAccardeonBtn-chevron{
        padding-left: 7px;
    }

    .NavAccardeonBtn-title{
        padding-right: 7px;
    }
   
    .NavAccardeonBtn-logout-icon,
    .NavAccardeonBtn-chevron{
        width: 24px !important;
        height: 24px !important;
    }
}