.CardTotal-container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
}

.CardTotal-price{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 5px;
}

.CardTotal-price-span{
    font-size: 14px;
    font-weight: 400;
}

.CardTotal-icon{
    position: absolute;
    width: 14px !important;
    height: 14px !important;
    right: -14px;
    top: 5.5px;
    color: #004030;
}

.CardTotal-icon-dark{
    color: oklch(51.1% 0.096 186.391);
}