.CardProduct{
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12px;
}

.CardProduct-right-sec{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardProduct-product-price{
    display: flex;
    align-items: center;
    position: relative;
}

.CardProduct-dollar-icon{
    width: 14px !important;
    height: 14px !important;
    position: absolute;
    right: -14px;
    top: 3px;
    color: #004030;
}

.CardProduct-dollar-icon-dark{
    color: oklch(51.1% 0.096 186.391);
}

.CardProduct-bin-icon{
    width: 20px !important;
    height: 20px !important;
    color: #820000;
    cursor: pointer;
}

.CardProduct-bin-icon-dark{
    color: #BF3131;
}

.CardProduct-detail{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardProduct-product-title{
    font-size: 16px;
    font-weight: 500;
}

.CardProduct-product-price-span{
    font-size: 14px;
    font-weight: 400;
}