body , * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.App-container {
  width: 100vw;
  background-color: #fff;
  position: relative;
}

.App-container-dark{
  background-color: black;
}

@media screen and (max-width : 1280px) {
  .App-container {
    height: 100vh;
  }
}

@media screen and (min-width : 1280px) {
  .App-container {
    height: 100vh;
  }
}