.Nav-container {
    width: 100%;
    height: min-content;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.Nav-container-dark{
   background-color: oklch(21% 0.006 285.885);
}

.Nav-left {
    width: min-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.Nav-right {
    width: min-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.Nav-ul {
    height: 100%;
    display: flex;
} 

.Nav-li{
    height: 100%;
    border-right: 1px solid #d9d9d9;
}

.Nav-link, 
.Nav-shopp-icon {
    height: 100%;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav-li-shopp-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav-btn , 
.Nav-login-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
}

.Nav-login-info {
    justify-content: space-between;
    position: relative;
    cursor: default;
}

.Nav-logout-sub-menu{
    height: min-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0px 0px 5px 5px;
    display: none;
    cursor: pointer;
}

.Nav-logout-sub-menu-dark{
   background-color: oklch(21% 0.006 285.885);
   color: #fff;
}

.Nav-logout-icon{
    color: #820000;
}

.Nav-chevron{
    border-left: 1px solid #d9d9d9;
    transition: all 0.2s ease;
    cursor: pointer;
}

.Nav-btn-dark,
.Nav-logout-span-dark,
.Nav-link-dark,
.Nav-shopp-icon-dark,
.Nav-login-info-dark {
    color: #fff;
}

@media screen and (max-width : 768px){
    .Nav-container {
        padding: 12px;
        height: 50px;
    }

    .Nav-link {
        padding-right: 12px;
        font-size: 14px;
        font-weight: 500;
    }

    .Nav-li-shopp-icon {
        padding: 0px 12px;
        display: flex;
    }
    
    .Nav-btn , 
    .Nav-login-info ,
    .Nav-logout-sub-menu {
        width: 130px;
        margin-left : 12px;
        font-size: 11px;
        font-weight: 400;
        padding: 3px 8px;
    }

    .Nav-login-info ,
    .Nav-logout-sub-menu {
        width: 100px;
        padding: 3px 5px 3px 8px;
    }

    .Nav-logout-sub-menu{
        margin-left: 0;
    }

    .Nav-chevron{
        padding-left: 5px;
    }

    .Nav-right-dark-icon,
    .Nav-right-light-icon,
    .Nav-logout-icon,
    .Nav-shopp-icon,
    .Nav-chevron{
        width: 18px !important;
        height: 18px !important;
    }
}

@media screen and (min-width : 768px){
    .Nav-container {
        padding: 16px;
        height: 65px;
    }

    .Nav-link {
        padding-right: 16px;
        font-size: 16px;
        font-weight: 600;
    }

    .Nav-li-shopp-icon{
        padding: 0px 16px;
        display: none;
    }
    
    .Nav-btn , 
    .Nav-login-info,
    .Nav-logout-sub-menu{
        width: 150px;
        margin-left : 16px;
        font-weight: 500;
        font-size: 14px;
        padding: 5px 16px;
    }
    
    .Nav-login-info,
    .Nav-logout-sub-menu{
        width: 130px;
        padding: 5px 7px 5px 10px;
    }

    .Nav-logout-sub-menu{
        margin-left: 0;
    }

    .Nav-chevron{
        padding-left: 7px;
    }

    .Nav-right-dark-icon,
    .Nav-right-light-icon,    
    .Nav-logout-icon,
    .Nav-shopp-icon,
    .Nav-chevron{
        width: 24px !important;
        height: 24px !important;
    }
}