.Nav-container {
    width: 100%;
    height: min-content;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.Nav-container-dark{
   background-color: oklch(21% 0.006 285.885);
}

.Nav-left {
    width: min-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.Nav-right {
    width: min-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.Nav-ul {
    height: 100%;
    display: flex;
} 

.Nav-li{
    height: 100%;
    border-right: 1px solid #d9d9d9;
}

.Nav-link, 
.Nav-shopp-icon {
    height: 100%;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav-li-shopp-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav-link-dark,
.Nav-shopp-icon-dark {
    color: #fff;
}

@media screen and (max-width : 768px){
    .Nav-container {
        padding: 12px;
        height: 50px;
    }

    .Nav-link {
        padding-right: 12px;
        font-size: 18px;
        font-weight: 600;
    }

    .Nav-li-shopp-icon {
        padding: 0px 12px;
        display: flex;
    }
    
    .Nav-signing-btn {
        width: 130px;
        margin-left : 12px;
        font-size: 11px;
        font-weight: 400;
        padding: 3px 8px;
    }

    .Nav-right-dark-icon,
    .Nav-right-light-icon,
    .Nav-shopp-icon {
        width: 18px !important;
        height: 18px !important;
    }
}

@media screen and (min-width : 768px){
    .Nav-container {
        padding: 16px;
        height: 65px;
    }

    .Nav-link {
        padding-right: 16px;
        font-size: 22px;
        font-weight: 700;
    }

    .Nav-li-shopp-icon{
        padding: 0px 16px;
        display: none;
    }
    
    .Nav-signing-btn {
        width: 150px;
        margin-left : 16px;
        font-weight: 500;
        font-size: 14px;
        padding: 5px 16px;
    }

    .Nav-right-dark-icon,
    .Nav-right-light-icon,    
    .Nav-shopp-icon {
        width: 24px !important;
        height: 24px !important;
    }
}